<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %} تحليل داتا التجار{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
        

        <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
        <style>
            #barChartContainer, #pieChartContainer {
                margin-top: 20px;
            }
        </style>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.highcharts.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>

    </head>
    
    <body>
        <table class="table table-striped table-bordered dt-responsive nowrap bg-light">
            <tr>
                <td>
                    <div id="wdr-component"></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div id="lineChartContainer"></div>
                </td>
            </tr>
            
            <tr>
                <td>
                    <div id="barChartContainer"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="pieChartContainer"></div>
                </td>
            </tr>
            
        </table>

    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        
    <script>
        $(document).ready(function(){
        var pivot;
        

        $.ajax({
                type: 'get',
                url: "getData",
                data: "",
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    
                    ////
                    
            pivot = new WebDataRocks({
            container: "#wdr-component",
            toolbar: true,
            width: 800,
            report: {
                "dataSource": {
                    "dataSourceType": "json",
                    "data": response
                },
                formats: [{
                    name: "rating",
                    decimalPlaces: 2
                }],
                "slice": {
                "rows": [
                    {
                        "uniqueName": "Company Location"
                    }
                ],
                "columns": [
                    {
                        "uniqueName": "Review Date"
                    },
                    {
                        "uniqueName": "Measures"
                    }
                ],
                "measures": [
                    {
                        "uniqueName": "Rating",
                        "aggregation": "average",
                        "format": "rating"
                    }
                ],
                "sorting": {
                    "column": {
                        "type": "desc",
                        "tuple": [],
                        "measure": "Rating"
                    }
                }
            },
            "conditions": [
                {
                    "formula": "#value >= 3.5",
                    "format": {
                        "backgroundColor": "#039BE5",
                        "color": "#FFFFFF",
                        "fontFamily": "Arial",
                        "fontSize": "12px"
                    }
                }
            ],
            "formats": [
                {
                    "name": "rating",
                    "decimalPlaces": 2
                }
            ]
            },
            reportcomplete: function() {
                pivot.off("reportcomplete");
                applyHighchartsThemes();
                createLineChart();
                createBarChart();
                createPieChart();
            }
        });
                    ///
                }, 
                error: function (reject) { }
                });
        
        function createLineChart() {
            pivot.highcharts.getData({
                type: "spline",
                slice: {
                    rows: [{
                        uniqueName: "Company Location"
                    }],
                    columns: [{
                        uniqueName: "[Measures]"
                    }],
                    measures: [{
                        uniqueName: "Rating",
                        aggregation: "average"
                    }],
                    sorting: {
                        column: {
                            type: "desc",
                            tuple: [],
                            measure: "Rating"
                        }
                    }
                }
            }, drawLineChart, drawLineChart);
        }

        function createBarChart() {
            pivot.highcharts.getData({
                type: "bar",
                slice: {
                    rows: [{
                        uniqueName: "Bean Type"
                    }],
                    columns: [{
                        uniqueName: "[Measures]"
                    }],
                    measures: [{
                        uniqueName: "Rating",
                        aggregation: "average"
                    }],
                    sorting: {
                        column: {
                            type: "desc",
                            tuple: [],
                            measure: "Rating"
                        }
                    }
                }
            }, drawBarChart, drawBarChart);
        }

        function createPieChart() {
            pivot.highcharts.getData({
                type: "pie",
                slice: {
                    rows: [{
                        uniqueName: "Specific Bean Origin",
                        "filter": {
                            "type": "top",
                            "quantity": 6,
                            "measure": "Rating"
                        },
                        "sort": "asc"
                    }],
                    columns: [{
                        uniqueName: "[Measures]"
                    }],
                    measures: [{
                        uniqueName: "Rating",
                        aggregation: "max"
                    }],
                    sorting: {
                        column: {
                            type: "desc",
                            tuple: [],
                            measure: "Rating"
                        }
                    }
                }
            }, drawPieChart, drawPieChart);
        }

        function drawLineChart(data) {
        data.title.text = "الأعلى تكاثر فى المناطق";
        Highcharts.chart('lineChartContainer', data);
        }

        function drawBarChart(data) {
        data.title.text = "الكمية المتداوله فى السوق";
        Highcharts.chart('barChartContainer', data);
        }

        function drawPieChart(data) {
        data.title.text = "حصص الموردين ";
        Highcharts.chart('pieChartContainer', data);
        }

        function applyHighchartsThemes() {

        // Load the fonts
        Highcharts.createElement('link', {
            href: 'https://fonts.googleapis.com/css?family=Dosis:400,600',
            rel: 'stylesheet',
            type: 'text/css'
        }, null, document.getElementsByTagName('head')[0]);

        Highcharts.theme = {
            colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
                '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
            chart: {
                backgroundColor: null,
                style: {
                    fontFamily: 'Dosis, sans-serif'
                }
            },
            title: {
                style: {
                    fontSize: '16px',
                    fontWeight: 'bold',
                    textTransform: 'uppercase'
                }
            },
            tooltip: {
                borderWidth: 0,
                backgroundColor: 'rgba(219,219,216,0.8)',
                shadow: false
            },
            legend: {
                itemStyle: {
                    fontWeight: 'bold',
                    fontSize: '13px'
                }
            },
            xAxis: {
                gridLineWidth: 1,
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yAxis: {
                minorTickInterval: 'auto',
                title: {
                    style: {
                        textTransform: 'uppercase'
                    }
                },
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            plotOptions: {
                candlestick: {
                    lineColor: '#404048'
                }
            },


            // General
            background2: '#F0F0EA'

        };

        // Apply the theme
        Highcharts.setOptions(Highcharts.theme);
        }
        
    
        });
    </script>
</html>